@use "/src/utils/mixins" as mixins;

.oddCategory {
  background: mixins.$grey-background;
}

.content {
  @include mixins.content;
}

.name {
  display: block;
  font-size: 32px;
  padding-top: 38px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 288px));
  grid-auto-rows: minmax(270px, 360px);
  grid-gap: 32px;

  padding-top: 28px;
  padding-bottom: 40px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(120px, 228px));
    grid-auto-rows: minmax(210px, 300px);
    justify-content: center;
  }
}
