@use "/src/utils/mixins" as mixins;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 88px;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.burgerMenuButton {
  background: none;
  border: none;

  cursor: pointer;
}

.cartButton {
  display: flex;
  align-items: center;

  background: mixins.$not-kfc-red;
  border: none;
  border-radius: 18px;

  color: white;
  font-size: 20px;
  font-family: sans-serif;

  padding: 7px 12px;
  cursor: pointer;

  svg {
    margin-left: 4px;
  }

  &:disabled {
    background: mixins.$grey-background;
    color: black;
    cursor: unset;

    svg {
      path {
        fill: black;
      }
    }
  }
}
