@use "/src/utils/mixins" as mixins;

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  z-index: 42;

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
  }
}

.deliveryIn,
.pickupIn {
  display: block;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 42px;

  @media (max-width: 1024px) {
    font-size: 52px;
  }
}

.form {
  display: flex;

  @media (max-width: 1024px) {
    flex-direction: column;
    width: fit-content;
  }
}

.inputContainer {
  display: flex;
  position: relative;
  margin-right: 42px;

  @media (max-width: 1024px) {
    margin-right: 0;

    &:first-of-type {
      margin-bottom: 20px;
    }
  }
}

.inputLabel {
  font-size: 32px;
  margin-right: 10px;
}

.input {
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f7f6f5;
  outline: none;

  padding: 0 16px;
}

.errorTooltip {
  position: absolute;
  color: white;
  background: black;
  padding: 12px 12px;
  border-radius: 8px;
  width: max-content;
  top: 150%;

  &:before {
    content: "";
    position: absolute;
    top: -35%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

  @media (max-width: 1024px) {
    right: -125%;
    top: -10%;

    &:before {
      transform: unset;
      left: -4%;
      top: unset;
      border-color: transparent black transparent transparent;
    }
  }
}

.buttons {
  display: flex;
  border-radius: 4px;
  background-color: #f7f6f5;

  height: 48px;
  width: fit-content;

  @media (max-width: 1024px) {
    align-self: flex-end;
  }
}

.button {
  border: none;
  background-color: transparent;

  color: #9d9d9d;
  font-size: 16px;
  font-family: sans-serif;

  padding: 12px 17px;

  cursor: pointer;

  &Active {
    background-color: mixins.$not-kfc-red;
    border-radius: 4px;
    color: white;
  }
}
